aioaria2
aiofile
aiofiles
aiohttp
aiopath
aiorun
aiosignal
anyio
async-timeout
attrs
beautifulsoup4
beauty-print
brotli
brotlicffi
cachetools
caio
certifi
cffi
charset-normalizer
colorlog
dnspython
emoji
frozenlist
#pyrogram
git+https://github.com/wulan17/pyrogram@master
gitdb
gitpython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
h11
httpcore
httplib2
httpx
idna
meval
multidict
mutagen
oauthlib
pillow
protobuf
pyaes
pyasn1
pyasn1-modules
pycparser
pycryptodomex
pymongo
pyparsing
pysocks
python-dotenv
requests
requests-oauthlib
rsa
six
smmap
sniffio
soupsieve
speedtest-cli
tenacity
tgcrypto
typing-extensions
ujson
uritemplate
urllib3
uvloop
websockets
yarl
