aioaria2
aiofile
aiofiles
aiohttp=
aiopath
aiorun
aiosignal
anyio
async-timeout
attrs
beautifulsoup4
beauty-print
brotli
brotlicffi
cachetools
caio
certifi
cffi
charset-normalizer
colorlog
dnspython
emoji
frozenlist
gitdb
gitpython
google-api-core
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth
googleapis-common-protos
h11
httpcore
httplib2
httpx
idna
meval
multidict
mutagen
oauthlib
pillow
protobuf
pyaes
pyasn1-modules
pyasn1
pycparser
pycryptodomex
pymongo
pyparsing
pyrogram
pysocks
python-dotenv
requests-oauthlib
requests==2.28.1
rsa
six
smmap
sniffio
soupsieve
speedtest-cli
tenacity
tgcrypto
typing-extensions
ujson
uritemplate
urllib3
websockets
yarl
